.pricing-header {
    max-width: 700px;
  }

  .input-text {
    width: 150px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
}

.border-right { border-right: 1px solid #eee; }

.modal-tour .modal-dialog {
  width: 380px;
}

.efectivoClass{
  background-color: #00a65a;
  color: #fff;
}
.tarjetaClass{
  background-color: #00a65a;
  color: #fff;
}